<div class="row">
  <table class="table">
    <h3>Drafted Counts</h3>
    <tr>
      <th>Position</th>
      <th></th>
      <th>Count</th>
    </tr>
    <% @counts.each do |position, count| %>
      <tr>
        <td><%= "#{position}" %></td>
        <% if count > 0 %>
          <td><div style="color: #FF7F50; background-color: #FF7F50; width: <%= (count * 3) %>px">l</div></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= count %></td>
    <% end %>
  </table>
</div>
<div class="row">
  <table class="table">
    <h3>Drafted</h3>
    <tr>
      <th>Player</th>
      <th>Pick #</th>
    </tr>
    <% draft_picks.each do |draft_pick| %>
      <tr>
          <td><%= link_to "#{draft_pick.display_name}", undo_pick_draft_picks_path(draft_id: @draft.id, player_id: draft_pick.player_id, action: 'undo_pick'), method: 'post' %></td>
          <td><%= "#{draft_pick.pick_number}" %></td>
      </tr>
    <% end %>
  </table>
</div>
