<div class="groupings">
  <!-- <ul> -->
    <ul><li><%= render partial: "value_table", locals: {players: @top_values} %></li>
    <%= render partial: "value_table", locals: {players: @next_values} %></ul>
<!--   </ul> -->
</div>
<div class="groupings">
  <ul>
    <li><%= render partial: "position_table", locals: {position: "Quarterbacks", players: @qbs} %></li>
    <li><%= render partial: "position_table", locals: {position: "Running Backs", players: @rbs} %></li>
    <li><%= render partial: "position_table", locals: {position: "Wide Receivers", players: @wrs} %></li>
    <li><%= render partial: "position_table", locals: {position: "Tight Ends", players: @tes} %></li>
    <li><%= render partial: "position_table", locals: {position: "Defenses", players: @defenses} %></li>
    <li><%= render partial: "position_table", locals: {position: "Kickers", players: @kickers} %></li>
  </ul>
</div>
